/*header部分*/
#header {
  width:100%;
  height: 1000px;
  background-color: black;
  text-align: center;
}

/*nav部分*/

/*定义一个渐变动画*/
@keyframes colorChange {
  from {background: black;}
  to {background: #00a79d;}
}
#naver {
  margin-top: 20px;
}
#naver ul {
  font-size: 13px;
  margin: 0px 150px 0px 150px;
  height: 180px;
  text-align: center;
}
#naver ul li {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 10px 30px;
  background-color: black;
  cursor: pointer;
}
#naver ul li:hover {
  animation : colorChange 0.5s;
  animation-fill-mode: forwards;
}
#naver ul li a {
  color: white;
  text-decoration-line: none;
}
/*底边动画效果*/
#naver ul li::before, #naver ul li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 5px;
  width: 0;
}
#naver ul li::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#naver ul li:hover::before, #naver ul li:hover::after {
  width: 86px;
  transition: 800ms ease all;
  background: #3c763d;
}

/*文章信息*/
#container {
  width: 800px;
  margin: 0 auto;
}
#container article a {
  text-decoration-line: none;
}
#container article a h1 {
  position: relative;
  text-align: center;
  font-size: 22px;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei";
  color: black;
  padding: 50px 0 20px 0;
}

/*给标题添加动画效果*/
#container article a h1:hover::before, #container article a h1:hover::after {
  position: absolute;
}
#container article a h1:hover::before {
 content: "《";margin-left: -30px;
}
#container article a h1:hover::after {
 content: "》";margin-left: 10px;
}
/*文章信息*/
#articleInfo {
  margin: 0 auto;
  width: 550px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

/*文章内容*/

#articleContent {
  font-size: 15px;
  color: #555;
  padding: 20px 5px 20px 5px;
  text-align:justify;/*设置文本两端对齐*/
  line-height: 25px;
}

/*更多信息*/
#readMore {
  width: 115px;
  height: 30px;
  text-align: center;
  color: white;
  background: black;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
}

#readMore:hover{
  color: black;
  background: white;
  transition: 500ms all;
}

/*分页*/
#fenye {
  margin-top: 50px;
  text-align: center;
}
